{% macro renderMenu(menuItems) %}
<ul class="doc-viewer-nav">
  {% for item in menuItems %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% if item.children %}
    {{ renderMenu(item.children) }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  {% include "layouts/head.njk" %}
  <link rel="stylesheet" href="/styles/viewer.css">
  <link rel="stylesheet" href="/styles/highlight.css">
</head>
<body>
  <div class="doc-viewer">
    {% include "layouts/nav.njk" %}
    <div class="doc-viewer-container">
      {% include "layouts/navLeft.njk" %}
      <div class="doc-viewer-content">
        {{ content | safe }}
      </div>
      <div class="doc-viewer-content-toc">
        {{ content | toc | safe }}
      </div>
    </div>
  </div>
</body>
</html>
