<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EBS 文档首页</title>
  {% include "layouts/head.njk" %}
  <link rel="stylesheet" href="styles/home.css">
</head>
<body>
  <main class="home-main">
    {% include "layouts/nav.njk" %}
    <div class="home-content">
      <h1 class="home-content-title">EBS 文档</h1>
    </div>
  </main>
</body>
</html>

